{{ $image_tag := env "IMAGE_TAG" | default  (exec "../scripts/branded_image_tag.sh" (list) | trim) }}

domain: sender-fm-staging.ocelot-social.it4c.org
redirect_domains: []
namespace: sender-fm-ocelot
image_tag: {{ $image_tag }}
github_repository: changemedia-at/sender.fm
